h1 {
    font-size: 26px;
    line-height: 2rem;
}

h2 {
    font-size: 16px;
}

.news_item {
    flex-direction: column;
}

.burger {
    background-color: bisque;
    width: 35px;
    height: 35px;
    background: url(../svg/burger.svg) no-repeat;
    filter: invert(1);
    background-size: 100%;

}

.main_content {
    padding: 40px 15px 0;
}

.header_menu {
    padding: 0 15px;
}

.shop_items {
    flex-wrap: wrap;
    flex-direction: column;
}

.shop_item {
    margin-bottom: 25px;
}

.shop {
    margin-bottom: 40px;
    padding: 0;
}

.top_new {
    min-height: 233px;
    width: 100%;

    margin-right: 0px;
    padding: 0 15px 15px 15px;

}

.copyright {
    padding-top: 45px;
}

.header_acide {
    padding-bottom: 15px !important;
}

.acide_block {
    margin-bottom: 30px;
    position: relative;
}

.tags {
    margin-top: 15px;
}

.news_description {
    padding: unset;
}

.news_header {
    margin-bottom: 25px;
}

.news_anonce {
    margin-top: 25px;
    font-size: 14px;
}



.news {
    width: 100%;
}

.news_picture img {
    width: 100%;
    height: auto;
}

.top_news {
    flex-wrap: wrap;
}


.headers_top {
    margin: 0;
    padding: 30px 0 30px;
    width: 100%;
}

.header_text {
    max-width: 300px;
    position: absolute;
    top: calc((100% / 2) - 143px);
}

.menu {
    display: none;
}


@media screen and (min-width: 361px) and (max-width: 1199px) {




    .logo {
        margin-left: 35px;
    }

    .shop_item {
        flex: unset;
    }

    .top_news {
        flex-wrap: wrap;

    }



    .main_content {
        padding: 40px 34px 0;
    }

    .news_item {
        flex-direction: column;
        width: 100%;
    }

    .news_description {
        padding: 15px 15px 15px 0;

    }


    .shop_items {
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: inherit;
    }

    .menu {
        display: none;
    }

    h1 {
        font-size: 40px;
    }

    .shop {
        margin-bottom: 40px;
        padding: 0;
    }
}



@media screen and (min-width: 365px) and (max-width: 768px) {
    .shop_item {
        margin-bottom: 25px;
        width: 100%;
        flex: unset;
    }

    .header_text {
        max-width: calc(100% - 10%);
    }

    .header {
        max-height: 390px;

    }

    h1 {
        line-height: 1.5;
    }
}


@media screen and (min-width: 768px) and (max-width: 800px) {
    .news {
        width: calc((100% - 273px) - 30px);
    }

    .shop_item {
        margin-bottom: 25px;
        width: calc((100% / 2) - 5px);
        flex: unset;
    }

    .top_new {
        width: calc((100% / 2) - 32px);
    }

}


@media screen and (min-width: 769px) and (max-width: 1200px) {

    .top_new {
        display: flex;
        position: relative;
        width: calc((100% / 2) - 42px);
        padding: 0 20px 15px 20px;
        min-height: 320px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 475px) {
    .logo {
        display: none;
    }

    h1 {
        font-size: 25px;
    }

    .mobilelogo {
        background: url("../images/noemi-logo.svg");
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .header {
        min-height: 650px;
    }

    .right {
        width: unset;
    }
}

@media screen and (min-width: 641px) and (max-width: 1199px) {
    .top_new {
        display: flex;
        position: relative;
        width: calc((100% / 2) - 40px);
        padding: 0 20px 15px 20px;
        min-height: 245px;
        flex-wrap: wrap;
    }
}