* {
    box-sizing: border-box;
}

html,
body,
div,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    font-family: 'gothamprol';
}



@keyframes moveBackground {

    0%,
    to {
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1)
    }

    50% {
        -webkit-transform: translate(25%, 5%) scale(1.5);
        transform: translate(5%, 5%) scale(2)
    }
}

@font-face {
    font-family: "Sourse_Sans_reg";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Sourse_Sans_light";
    src: url("../fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: "gothamprol";
    src: url("../fonts/gothamprolDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/gothampro.ttf") format("truetype");
}

@font-face {
    font-family: "GothamProl";
    src: url("../fonts/gothampro_light.ttf") format("truetype");
}


@font-face {
    font-family: "GothamProm";
    src: url("../fonts/gothampro_medium.ttf") format("truetype");
}


@font-face {
    font-family: "GothamProb";
    src: url("../fonts/gothampro_black.ttf") format("truetype");
}




a {
    color: #E3C27D;

}

a:hover {
    text-decoration: none;

}

.black_link {
    color: black;
}

.slide_1 {
    background: url('../images/bg_main.jpg') no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top 0 center;
    box-sizing: border-box;
    position: relative;
}

.order {
    display: none;
}

#map_719582516 {
    position: absolute;

    width: 100%;
    height: 100%;
}



.slide_4 {
    background: url('../images/genplan_bg.jpg') no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top 0 center;
    box-sizing: border-box;
    position: relative;
    padding: 100px 7%;
}

.parking {
    background: url('../images/parking.jpg') no-repeat;
    background-size: cover;
    height: 1080px;
    background-position: top 0 center;
    box-sizing: border-box;
    position: relative;
}

.contacts {
    background-color: #2e253b;    
    height: 400px;    
    position: relative;
    padding: 150px 7%;
    color: #FFF;
    
}

.copyright {
    background-color: #292234;
    height: 40px;    
    position: relative;
    padding: 10px 7%;
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: end;
}

.hello {
    margin-right: 9px;
    font-size: 12px;

}
.copyright img {
    width: 50px;
}



.contacts_blocks {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}


.map {
    background-size: cover;
    height: 1080px;
    background-position: top 0 center;
    box-sizing: border-box;
    position: relative;
}

.maps_info {    
    z-index: 111;
    position: absolute;
    box-sizing: content-box;    
}

.maps_bg {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 76%, rgba(255, 255, 255, 0) 100%);
    width: 55%;
    position: absolute;
    height: 100%;
    z-index: 1;
}

.logo_big_mobile {
    display: none;
}

.maps {
    width: 100%;
    height: 100%;
}

.slogan {
    font-family: 'gothampro';
    font-size: min(12vw, 90px);
    width: 55%;
    line-height: 0.9;
}

.top_menu_mobile {
    display: none;
}

.header {
    font-size: 60px;
    position: relative;
    font-weight: 100;
    font-family: 'gothamprol';
    display: inline;
    margin-bottom: 20px;
    
}


.header2 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'gothamprol';
}

.header3 {
    font-size: 60px;
    margin-bottom: 30px;
    position: absolute;
    top: 100px;
    font-weight: 100;
    font-family: 'gothamprol';
    left: 7%;
    display: inline;
}



.header4 {
    font-size: 60px;
    margin-bottom: 30px;
    position: absolute;
    top: 80px;
    font-weight: 100;
    font-family: 'gothamprol';
    left: 7%;
    display: inline;
}

.unlist {
    list-style: none;
    color: #FFF;
    line-height: 1.3;
    padding: 0;
    white-space: nowrap;
}
.contacts_header {
    font-size: 20px;
    line-height: 2;
    font-weight: 600;
}


.about_info2 {
    margin: 0 auto;
    width: 66%;
    bottom: 200px;
    margin-top: 30px;

}

.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.advantages2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    padding: 60px 7% 60px 4%;
}

.else_button {
    display: flex;
    align-items: center;
    gap: 20px;
}

.adva_item {
    font-size: 50px;
    font-family: 'gothamprol';
    color: #d9bc7c;
    font-weight: 200;
}

.adva_bottom {
    display: flex;
    flex-wrap: wrap;
}

.but1 {
    margin-bottom: 20px;
}

.adva_description {
    font-family: 'gothamprol';
    text-transform: lowercase;
    font-weight: 200;
    width: 150px;
}

.astralogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.text {
    line-height: 1.5;
    font-family: 'gothamprol';
    font-weight: 300;
    font-size: 17px;

}

.about_info {    
    max-width: 550px;
    position: absolute;
    min-width: 350px;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.burger_mobile {
    display: none;
}

.new {
    color: black !important;
}

.new2 {
    filter: invert(1);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: transparent;
}

.nav__color {
    background: rgb(255, 255, 255);
}

.astralogo img {
    width: 90px;
    margin-bottom: 15px;
}

.astralogo span {
    line-height: 1;
    text-align: center;
}

.top_phone_order {
    color: #E3C27D;
    font-size: 18px;
    text-align: right;
    cursor: pointer;
    /* font-weight: 600; */
    text-decoration: underline;
    font-family: "Gothamprob";
}

.slogan_2 {
    font-size: 30px;
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    line-height: 1.2;
}

.slogan_phone {
    font-size: 45px;
    font-weight: 600;
}

.offtop {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    position: absolute;
    font-size: 150px;
    height: 100%;
    color: #8080800f;
    z-index: -100;
    bottom: 100px;
    font-weight: 600;

}

.gallery {
    padding: 0;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    width: calc((100%) - 80px);
    
}


.gallery_item {
    opacity: 0.7;
    object-fit: cover;    
    height: 100%;
    
}

.gallery_item:hover {
    opacity: 1;
    transition: 0.5s;
    cursor: pointer;
    -webkit-animation: moveBackground 120s linear infinite;
    animation: moveBackground 120s linear infinite;
}

.overflow {
    width: 33.333%;
    overflow: hidden;
}

.gallery_item:hover::after {
    width: 80px;
    height: 80px;
    background-color: #0a0a0a8a;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    content: '';
}

.slide_2 {
    background: url(../images/slide_2_bg.png) no-repeat;
    height: 1080px;
    background-position: bottom 0 right 30%;
    background-size: 80%;
    font-weight: 600;
    padding: 100px 7%;
    position: relative;
}

.slide_5 {
    
    height: 1080px;
    background-position: bottom 0 right 30%;
    background-size: 80%;
    font-weight: 600;
    padding: 100px 7%;
    position: relative;
}

.slide_3 {
    height: 1080px;
    position: relative;

}

.ul_menu {
    display: flex;
    list-style: none;
    color: #FFF;
    white-space: nowrap;
    margin: 0;
    font-size: 13px;
    font-family: "Gothampro";
    flex-wrap: wrap;
    padding: 0;
    height: 20px;
    text-transform: uppercase;
}

.ul_menu_right {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding: 0;
}

.ul_menu_right img {
    z-index: 100000;
}

.ul_menu_right li {
    margin-bottom: 25px;
}

.ul_menu li {
    margin-right: 30px;
    cursor: pointer;
    font-weight: 600;
}

.ul_menu li:hover {
    color: #FFD874;
    border-bottom: 2px solid #a78c48;

}

.menu_checked {
    color: #FFD874;
}

.main_header {
    position: absolute;
    color: white;
    line-height: 2;
    margin: 260px 7%;
}

.genplan {
    justify-content: center;
    position: absolute;
    left: 7%;
    align-items: center;
    display: flex;    
    top: calc((100%/2) - 300px);
}

.genplan img {
    width: 90%;
}

.parking_img {
    margin: auto auto;
    width: 70%;
    padding-top: 150px;
}

.parking_img img {
    width: 100%;
}

.logo_big {
    position: absolute;
    bottom: 50px;
    right: 150px;
    width: 30%;
}

.logo_small {
    position: absolute;
    bottom: 50px;
    right: 150px;
    width: 300px;
}

.logo_big img {
    width: 100%;
}

.logo_small img {
    width: 100%;
}

.zastroy {
    position: absolute;
    color: #FFF;
    bottom: 50px;
    left: 7%;
    width: 50%;
}

.side_social {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 120px;

}

.twitter {
    background: url(../images/twitter.svg);
    background-repeat: no-repeat;
}
.facebook {
    background: url(../images/facebook.svg);
    background-repeat: no-repeat;
}
.insta {
    background: url(../images/insta.svg);
    background-repeat: no-repeat;
}
.social {    
    height: 40px;
}

.lists_style {
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin: 0;
    align-items: center;
}

button {
    background-color: #e5c790;
    padding: 25px 30px;
    background: linear-gradient(180deg, rgba(237, 204, 139, 0.75) 0%, rgba(0, 0, 0, 0) 100%), rgb(177 151 83 / 91%);
    border-radius: 55px;
    font-family: 'gothamprol';
    color: white;
    border: none;
    font-size: 18px;
    width: 270px;
}

.advantages ul li {
    list-style: none;
    line-height: 1.3;
    padding: 0;
    min-width: 180px;
    min-height: 115px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.advantages ul {
    padding: 0;
    margin-right: 20px;
}

.advantages ul:nth-child(2) {
    margin-right: 0px;
}

.whatsapp:hover {
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
}

.whatsapp {
    z-index: 1000000;
}


.but2 {
    background: #1e3e75;
}

button:hover {
    background-color: #E3C27D;
    cursor: pointer;
    color: #493c19;
    box-shadow: 1px 1px 25px -7px #929292;
}

.burger {
    position: absolute;
    z-index: 1000000000;
}

.burger_mobile {
    position: absolute;
    right: 20px;
    z-index: 1000000000;
}


.side_bar {
    position: fixed;
    right: 0;
    display: flex;
    box-sizing: border-box;
    padding-top: 12.5px;
    justify-content: center;
    z-index: 1000;
    height: 100%;
    width: 80px;
    background-color: rgb(24 29 46 / 76%);
    color: #FFF;
}

.top_phone {
    font-size: 19px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-family: "gothamprob";
}

.top_phone img {
    margin-right: 10px;
}


.zvonok {
    margin-right: 80px;
    color: white;
    display: inline-block;
    display: flex;
    right: 40px;
    position: fixed;
    flex-direction: column;
    align-items: end;
    line-height: 1;
}

.top_header {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 35px 7%;
    height: 80px;
    z-index: 200;
    font-weight: 400;
    /* background: rgb(24 29 46 / 76%); */
    justify-content: space-between;
}

.side_description {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    margin-bottom: 30px;
    font-size: 14px;
}

.metters {
    font-size: 30px;
    position: absolute;
}

/**
 * Icon
 */

.icon {
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/**
   * The "shine" element
   */

.icon:after {
    content: "";
    height: 200%;
    left: -230%;
    opacity: 0;
    position: absolute;
    top: -20%;
    transform: rotate(-30deg);
    width: 200%;
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100%);
}

/* Hover state - trigger effect */

.icon:hover:after {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
}

/* Active state */

.icon:active:after {
    opacity: 0;
}


.custom-page-seliger__benefits-item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    min-width: 340px;    
    max-width: 500px;
    width: calc(33.33% - 27px);
    background: rgb(243, 243, 243);
    border-radius: 2px;
    color: #2e253b;
    transition: .3s ease;
    box-sizing: border-box;
    cursor: pointer;    
}