@media screen and (min-width: 360px) and (max-width: 768px) {
    .top_menu {
        display: none;
    }

    .header2 {
        font-size: 50px;
    }

    button {
        width: 220px;
        font-size: 15px;
        padding: 20px 30px;
    }
    .advantages ul li {
        min-width: 160px;
        margin-bottom: 30px;
        margin-right: 0px;

    }
    .maps {
        display: none;
    }

    .map {
        height: 630px;
    }
    .slide_2 {
        height: 1070px;
        background-position: bottom 0 right 22%;
        background-size: 215%;
        
    }
    .gallery_item {
        width: unset;
        min-width: 360px;
    }
    .adva_item {
        font-size: 40px;
    }
    .whatsapp_mobile {
        z-index: 1000000;
        position: absolute;
        right: 90px;
    }

    .astralogo {
        display: none;
    }

    .genplan {
        padding-top: 20%;
        padding: unset;
    position: initial;
    }
 

    .side_bar {
        display: none;
    }

    .top_phone_order {
        display: none;
    }

    .burger_mobile {
        display: block;
        background: url(../images/burger.png);
        width: 45px;
        height: 45px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top_header {
        padding: unset;
    }

    .zvonok {
        position: relative;
        left: 0;
        align-items: start;
        display: contents;
    }

    .zastroy {
        width: 90%;
        font-size: 14px;
        bottom: 25px;
    }
    .header3 {
        position: absolute;
    }
    .slide_2,
    .slide_4,
    .parking {
        padding: 20px;
    }

    .parking {
        height: 800px;
    }

    .slide_4 {
        height: 660px;
    }
    .header {
        font-size: 30px;
    }

    .about_info {
        margin-top: 5%;
        z-index: 1;
        max-width: unset;
        min-width: unset;
        margin-left: unset;
        display: flex;
        flex-direction: column;
    }

    .parking_img {
        width: 90%;
    }

    .about_info2 {
        width: 85%;
    }

    .slogan {
        font-size: min(12vw, 100px);
    }

    .slogan_2 {
        display: none;
    }

    .slogan_phone {
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .top_menu_mobile {
        position: fixed;
        height: 80px;
        display: flex;
        z-index: 1000;
        padding: 20px;
        
    }

    .top_header {
        display: none;
    }

    .slide_1 {
        height: 765px;
    }

    .main_header {
        margin: 0;
        bottom: 155px;
        left: 7%;
    }

    .logo_big {
        position: absolute;
        bottom: unset;
        /* margin-top: 50px; */
        /* right: 150px; */
        margin-left: 25px;
        margin-top: 183px;
        left: 0px;
        width: 70%;
    }

    .logo_small {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 200px;
    }

    .genplan {
        padding: unset;
    }

}



@media screen and (min-width: 769px) and (max-width: 1200px) {
    .top_menu {
        display: none;
    }

    .genplan {
        padding: 10% !important;
    }

    .whatsapp_mobile {
      display: none;
    }

    .parking_img {
        width: 90%;
    }

    .about_info2 {
        width: 85%;
    }


    .top_menu_mobile {
        z-index: 1000;
        height: 80px;
        display: flex;
        position: fixed;
        
        justify-content: space-between;
    }
    .header3 {
        position: absolute;
    }
    .top_header {
        display: none;
    }

    .zvonok {    
    padding-right: 80px;
    position: relative;    
    width: 300px;
    }
}